<h1 class="p3">Поиск последовательности</h1>
<p>Будет определена наиболее длинная монотонно возрастающая последовательность чисел.</p>
<%= form_tag sequence_view_path, :method => 'get' do %>
    <%= label_tag 'Введите последовательность чисел' %><br>
    <%= text_field_tag :values %>

    <%= submit_tag nil, name: nil %>
<% end %>